lxml>=4.2.1
JSON_minify>=0.3.0
gensim>=3.4.0
tqdm>=4.23.3
numpy>=1.14.3,<1.18.0
termcolor>=1.1.0
scikit_learn>=0.19.1,<0.23.0
terminaltables==3.1.0
torch>=1.3.1,<=1.7.1
pyyaml==5.1b3
typing<4.0
click>=7.0,<8.0
